name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    container:
      image: kcov/kcov:latest
    
    steps:
    
    - uses: luizm/action-sh-checker@master
    - uses: actions/checkout@v4
    - name: Install make
      run: sudo apt-get update && sudo apt-get install -y make
    - name: Build & Test
      run: make all
    
