name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash
    container:
      image: kcov/kcov:latest
    
    steps:
    
    - uses: luizm/action-sh-checker@master
    - name: Install make
      run: |
        apt update && apt upgrade -y
        apt install -y make git shellcheck xmlstarlet
    - uses: actions/checkout@v4
      with: 
        submodules: recursive

    - name: Build & Test
      run: make all