name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    container:
      image: kcov/kcov:latest
    
    steps:
    
    - uses: luizm/action-sh-checker@master
    - name: Install make
      run: apt-get update && apt-get install -y make git shellcheck xmlstarlet
    - uses: actions/checkout@v4
      with: 
        submodules: recursive

    - name: Build & Test
      run: make all
    
    - name: Code Coverage Report
      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        filename: test-results/**/*.xml
        badge: true
        fail_below_min: true
        format: markdown
        hide_branch_rate: false
        hide_complexity: true
        indicators: true
        output: both
        thresholds: '60 80'

    - name: Add Coverage PR Comment
      uses: marocchino/sticky-pull-request-comment@v2
      if: github.event_name == 'pull_request'
      with:
        recreate: true
        path: code-coverage-results.md
    
